/* Main stylesheet for portfolio website */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.hero-section {
    min-height: 90vh;
}

.hero-title {
    padding: 2rem 0;
    border-radius: 0.5rem;
}


:root {
    --bs-primary: #ff0000 !important;
}

